body{
  color: #8B0000;
  background-color:#121212;
}
#header {
  text-align: center;
  padding: 10px;
  color: #8B0000;;
}
#nav{
  padding: 5px;
  text-align: center;
  ;
  
}
a{
  color: #E6E6E6;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
}

.container{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;

}

.panel{
  color: #E6E6E6;
  flex:1;
  text-align: center;
  background-color:#121212;
  min-height:500px;
  border-right: 2px solid #E6E6E6;
}

.panel img{
  max-width:50%;
  border: 2px solid #E6E6E6;
  
}
img{
  width:300px;
  height:auto;
  border: 2px solid #E6E6E6;
}

#centerpanel{
  flex:3;
  color: #E6E6E6;
  text-align: center;
  min-height:500px;
}






#foot{
  color: #E6E6E6;
}


.footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px 40px; 
}


.footer a {
  padding: 5px;
  text-align: left;
}


.footer p {
  margin: 5px;
  text-align: left;
}


.flex-container {
  display: flex;          
  flex-wrap: wrap;
  margin: 20px;        
  padding:5px;      
  justify-content: center;       
}
.flex-container img{
  width:10px;     
}


.foodcard img{
  border: 2px solid #E6E6E6;
  border-radius:5px;
  width:80%;
  height:50%;
}
.foodcard{
  width:200px;
  padding:5px;
  text-align:center;
}
.foodcard p{
  text-wrap:wrap;
  font-size:14px;
  color: #797878;
}
.foodcard div{
  font-weight: bold;
  text-decoration: underline;
}



.card{
  width:200px;
  padding:5px;
  text-align:center;
}


.card p{
  text-wrap:wrap;
  font-size:14px;
  color: #797878;
}

.card div{
  font-weight: bold;
  text-decoration: underline;
}


.card img{
  border: 2px solid #E6E6E6;
  border-radius:5px;
  width:85%;
  height:auto;
}


.button{
  text-decoration:none;
  background-color:#8B0000;
  color:white;
  border-radius:14px;
  margin-right:10px;
  padding:6px;
  /* box-shadow:2px 2px 2px #000000; */
}

