body{
  color: #8B0000;
  background-color:#121212;
}
#header {
  text-align: center;
  padding: 10px;
  color: #8B0000;;
}
#nav{
  padding: 5px;
  text-align: center;
}
a{
  color: #E6E6E6;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  
}

a:hover {
  background-color: #af0606;
  color: #E6E6E6;
}

.container{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  padding:10px;
}

.pic{
  flex:1;
  font-size:20px;
}

.panel{
  justify-content: center;
  padding:20px;
  color: #E6E6E6;
  flex:1;
  text-align: center;
  background-color:#121212;
  min-height:500px;
  border-right: 2px solid #E6E6E6;
}

.panel img{
  max-width:50%;
  border: 2px solid #E6E6E6;
  
}
img{
  width:300px;
  height:auto;
  border: 2px solid #E6E6E6;
}

#centerpanel{
  flex:3;
  color: #E6E6E6;
  text-align: center;
  min-height:500px;
}

#foot{
  color: #E6E6E6;
}


.footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px 40px; 
}


.footer a {
  padding: 5px;
  text-align: left;
}


.footer p {
  margin: 5px;
  text-align: left;
}


.flex-container {
  display: flex;          
  flex-wrap: wrap;
  margin: 20px;        
  padding:5px;      
  justify-content: center;       
}
.flex-container img{
  width:10px;     
}


.foodcard img{
  border: 2px solid #E6E6E6;
  border-radius:5px;
  width:80%;
  height:50%;
}
.foodcard{
  width:200px;
  padding:5px;
  text-align:center;
}
.foodcard p{
  text-wrap:wrap;
  font-size:14px;
  color: #797878;
}
.foodcard div{
  font-weight: bold;
  text-decoration: underline;
}



.card{
  width:200px;
  padding:5px;
  text-align:center;
}


.card p{
  text-wrap:wrap;
  font-size:15px;
  color: #797878;
}

.card div{
  font-weight: bold;
  text-decoration: underline;
}


.card img{
  border: 2px solid #E6E6E6;
  border-radius:5px;
  width:70%;
  height:50%;
}


.button{
  text-decoration:none;
  background-color:#8B0000;
  color:white;
  border-radius:14px;
  margin-right:10px;
  padding:6px;
}

.filterbutton{
  display:inline-block;
  margin:5px;
}



.flip-card {
  background-color: transparent;
  width: 200px;
  height: 170px;
  perspective: 1000px;
  padding:20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  padding:5px;
  border-radius:30px;
  border: solid 2px #6e6e6e;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #E6E6E6;
  /* background-color: #bbb; */
  color: #424242;
}
.flip-card-front img{
  width:50px;
  border-radius: 100px;
}

.flip-card-back {
  background-color: #E6E6E6;
  color: #424242;
  transform: rotateY(180deg);
}


.collapsible {
  display: inline-block;
  background-color: #8B0000;
  color: #E6E6E6;
  cursor: pointer;
  padding: 10px 16px;
  width: auto;
  border: none;
  border-radius:10px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #af0606;
  color: #E6E6E6;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #E6E6E6;
  color:#424242;
  font-size:12px;
  border-radius: 10px;
  margin-top: 10px;
}

.moviecollapse{
  padding:8px;
}